<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
</head>
<body>
    <!-- will render if requets == post -->
<!-- we will go back to actually render out the block with the image -->
{% if looking_city != None %}
    {% for main in looking_city %}
        {% if len(main) > 0 %}
       
            <h3> {{ main }}</h3>
        {% else %}
            <h1>We cant find your city </h1>
        
        
        
    {% endfor %}


{% endif %}

<!-- {% for city in looking_city %} 
    {% if city == None %}
        <h3>Seems we dont have your city </h3>
    {% endif %}
{% endfor %} -->




</body>
</html>