<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
</head>
<body>
    <!-- will render if requets == post -->
<!-- we will go back to actually render out the block with the image -->
{% if looking_city != None %}
    {% for main in looking_city %}
        <h3> {{ main }}</h3>
    {% endfor %}

{% endif %}

{% for city in looking_city }
    {% if len(city) <= 0 %}
    <h1>Sorry it seems the city you searched is not in our list </h1>
    <h2>Feel free to add it in the homepage and view current weather</h2>
    {% endif %}
    
{% endfor %}

</body>
</html>